<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias type="com.izitable.model.User" alias="User"/>
		<typeAlias type="com.izitable.model.Shop" alias="Shop"/>
		<typeAlias type="com.izitable.model.Booking" alias="Booking"/>
		<typeAlias type="com.izitable.model.ShopTime" alias="ShopTime"/>
		<typeAlias type="com.izitable.model.ShopTable" alias="ShopTable"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/user.xml"/> <!-- 상대경로 -->
		<mapper resource="mybatis/shop.xml"/> <!-- 상대경로 -->
		<mapper resource="mybatis/booking.xml"/> <!-- 상대경로 -->
	</mappers>
	
</configuration>